<h1>userDetail</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
<div class="row">
    <div class="col-md-6">
      <div class="form-group"
           [ngClass]="{'has-error': userForm.controls.firstName.invalid &&
                                    (userForm.controls['firstName'].touched  ||
                                    userForm.submitted)}">
        <label for="firstName" class="control-label">First name *</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName">
        <div class="help-block" *ngIf="userForm.controls['firstName'].hasError('required') &&
                  (userForm.controls['firstName'].touched || userForm.submitted)">
                  This field is required
        </div>
        <div class="help-block" *ngIf="userForm.controls['firstName'].hasError('minlength') &&
                  (userForm.controls['firstName'].touched || userForm.submitted)">
                  This field must be longer the 3 characters
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group"
           [ngClass]="{'has-error': userForm.controls.lastName.invalid &&
                                    (userForm.controls['lastName'].touched  ||
                                    userForm.submitted)}">
        <label for="lastName" class="control-label">Last name *</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div class="help-block"
           *ngIf="userForm.controls['lastName'].hasError('required') &&
                  (userForm.controls['lastName'].touched || userForm.submitted)">
                  This field is required
        </div>
        <div class="help-block"
           *ngIf="userForm.controls['lastName'].hasError('minlength') &&
                  (userForm.controls['lastName'].touched || userForm.submitted)">
                  This field must be longer the 3 characters
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group"
           [ngClass]="{'has-error': userForm.controls.email.invalid &&
                                    (userForm.controls['email'].touched  ||
                                    userForm.submitted)}">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
        <div class="help-block"
           *ngIf="userForm.controls['email'].hasError('email') &&
                  (userForm.controls['email'].touched || userForm.submitted)">
                  Invalid email format
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="phone" class="control-label">Phone</label>
        <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="age" class="control-label">Age</label>
        <input type="number" class="form-control" formControlName="age">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="company" class="control-label">Company</label>
        <input type="text" class="form-control" formControlName="company">
      </div>
    </div>
  </div>

  <div formGroupName="address">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="street" class="control-label">Street</label>
          <input type="text" class="form-control" formControlName="street">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="zip" class="control-label">Zip</label>
          <input type="text" class="form-control" formControlName="zip">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="city" class="control-label">City</label>
          <input type="text" class="form-control" formControlName="city">
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default" (click)="onCancel($event)">Cancel</button>
  <button class="btn btn-success" type="submit">Save</button>
  <!--<button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Save</button>-->
  <button *ngIf="user.id" class="btn btn-danger pull-right" (click)="onDelete(user, $event)">Delete</button>
</form>

